NODE_ENV=production
DATABASE_URL=postgresql://username:password@localhost:5432/database_name
CLOUDINARY_CLOUD_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_key
CLOUDINARY_API_SECRET=your_cloudinary_secret
SESSION_SECRET=your_secure_random_string_here
